 :root {
    --decoration-color: #c19cd1;
} 


html {
    font-family: 'Courier New', Courier, monospace;
    scroll-behavior: smooth;

    body {
        margin: 0 0;
        background-color: #1d1729;
        color: white;

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding: 0 16px;
            background-color: #0c0d163b;

            a {
                color: inherit;
                text-decoration: none;

                &:hover {
                    color: var(--decoration-color);
                }

                img {
                    width: 75px;
                }
            }

            section {
                display: flex;
                align-items: center;
                gap: 16px;

                ul {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    list-style: none;

                }

                button {
                    width: 20px;
                    height: 20px;
                    background-color: transparent;
                    border: none;
                    opacity: 0;

                    svg {
                        width: 40px;
                        color: grey
                    }

                    svg:hover {
                        color: #292929;
                        cursor: pointer;
                    }
                }
            }
        }

        main {


            section {
                height: 100vh;
                width: 100%;
                margin: 0;
                

                &:nth-child(1) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    h1 {
                        font-size: 2em;
                        margin: 0;
    
                        span {
                            color: var(--decoration-color);
                        }
                    }
                }

                &:nth-child(2) {
                    height: 200vh;

                    h2{
                        text-align: center;
                        font-size: 2em;
                    }
                    
                    section {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 16px;

                        article {
                            background-color: #fff;
                            opacity: 0;
                            transform: translateY(15vh);
                            visibility: hidden;
                            transition: opacity 0.6s ease-out, transform 1.2s ease-out;
                            will-change: opacity, visibility;
                        }
    
                        .show {
                            opacity: 1;
                            transform: none;
                            visibility: visible;
                        }
                    }

                    
                }

                &:nth-child(3) {
                    background-color: #171829;
                    margin-top: 15vh;
                }

                
            }
            
        }
    }
}