:root {
    --decoration-color: #abca97;
    --decoration-color-bg: color-mix(in srgb, var(--decoration-color), rgba(255, 255, 255, 0.1));

    --sm: 960;
}


html {
    font-family: 'Courier New', Courier, monospace;

    body {
        margin: 0 0;
        background-color: #121212;
        color: white;

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0px 16px;

            a {

                img {
                    width: 75px;
                }
            }

            section {
                display: flex;
                align-items: center;
                gap: 16px;

                ul {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    list-style: none;

                }

                button {
                    width: 20px;
                    height: 20px;
                    background-color: transparent;
                    border: none;

                    svg {
                        width: 40px;
                        color: grey
                    }

                    svg:hover {
                        color: #292929;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}